* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15, 23, 42, 0.9);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    padding: 20px;
}
nav h1{
    color: #38bdf8;
    font-weight: 600;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    color: #38bdf8;
}

/* Hero */
.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.hero h2{
    font-size: 3rem;
}

.hero span{
    color: #38bdf8;
}
.hero p{
    margin: 15px 0;
}
.btn{
    display: inline-block;
    margin: 10px;
    padding: 12px 30px;
    border-radius: 30px;
    border: 1px solid #38bdf8;
    color: #38bdf8;
    transition: 0.3s;
}
.btn:hover{
    background: #38bdf8;
    color: #0f170f;
    box-shadow: 0 0 20px #38bdf8;
}

section{
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

h3{
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #38bdf8;
}

/* ABOUT */
.about p{
    text-align: center;
    max-width: 700px;
    margin: auto;
    color: #9ca3af;
}

/* SKILLS */
.skills-box{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid: 20px;
}

.skill{
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.skill:hover{
    box-shadow: 0 0 15px rgb(56,189,248,0.4);
}

/* PROJECTS */
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;

}

.card{
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgb(56,189,248,0.4);
}

/* CONTACTS */
.contact{
    text-align: center;
}

.socials a{
    margin: 10px;
    font-size: 1.5rem;
    color: #38bdf8;
}

footer{
    text-align: center;
    padding: 20px;
    color: #9ca3af;
    border-top: 1px solid #1f2933;
}

@media(max-width: 768px){
    .hero h2{
        font-size: 2.2rem;
    }
}